Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-SocketIO==5.5.1
flask-socketio
gevent
gevent-websocket
gunicorn
psycopg2-binary
pg8000
python-dotenv
cloudinary
flask-socketio
gevent
gevent-websocket
gunicorn
psycopg[binary]
