{% extends "base.html" %}

{% block title %}
Caméra Live - MY TV APP
{% endblock %}

{% block content %}

<section class="live-page">

<div class="live-topbar">

<div class="live-title">
<h1>🎥 MY TV LIVE</h1>
<p>Diffusez votre contenu en direct.</p>
</div>


<div class="live-info">

<span id="liveStatus" class="offline">
⏹ Hors ligne
</span>

<span id="serverStatus">
🟡 Connexion...
</span>

<span class="viewer-counter">
👀
<span id="viewerCount">0</span>
</span>

</div>

</div>


<div class="live-container">


<div class="main-live">


<div class="video-wrapper">


<!-- Vidéo locale + vidéo distante -->
<video
id="camera"
autoplay
playsinline
muted>
</video>


<video
id="remoteCamera"
autoplay
playsinline>
</video>


<div class="live-overlay">

<div class="creator-name">
🔴 EN DIRECT
</div>

<div class="quality">
HD
</div>

</div>

</div>



<div class="live-controls">


<button id="startBtn" class="live-btn start">
🔴 Démarrer
</button>


<button id="stopBtn" class="live-btn stop">
⛔ Arrêter
</button>


<button id="muteBtn" class="live-btn">
🎤 Micro
</button>


<button id="cameraBtn" class="live-btn">
📷 Caméra
</button>


<button id="switchBtn" class="live-btn">
🔄 Caméra
</button>


<button id="screenBtn" class="live-btn">
🖥 Écran
</button>


<button id="fullscreenBtn" class="live-btn">
⛶ Plein écran
</button>


</div>


<p id="message">
Prêt à diffuser.
</p>


</div>


</div>


</section>



<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>


<script>


const socket = io({
reconnection:true,
reconnectionAttempts:20
});


let stream = null;

let room = null;

let viewers = {};

let peerConnections = {};

let pendingIce = {};

let currentCamera = "user";



const video =
document.getElementById("camera");


const remoteVideo =
document.getElementById("remoteCamera");


const message =
document.getElementById("message");


const liveStatus =
document.getElementById("liveStatus");


const serverStatus =
document.getElementById("serverStatus");


const viewerCount =
document.getElementById("viewerCount");



socket.on("connect",()=>{

serverStatus.innerHTML =
"🟢 Serveur connecté";

});


socket.on("disconnect",()=>{

serverStatus.innerHTML =
"🔴 Serveur déconnecté";

});
    // =====================================
// CONFIGURATION WEBRTC
// =====================================


function createPeerConnection(id){


const peer = new RTCPeerConnection({

iceServers:[

{
urls:[
"stun:stun.l.google.com:19302",
"stun:stun1.l.google.com:19302"
]
}

]

});



// Envoyer les pistes caméra + micro

if(stream){


stream.getTracks().forEach(track=>{


peer.addTrack(
track,
stream
);


});


}



// Recevoir la vidéo distante

peer.ontrack = (event)=>{


console.log(
"📹 Flux reçu",
id
);



if(event.streams && event.streams[0]){


remoteVideo.srcObject =
event.streams[0];


remoteVideo.play();


}


};




// Gestion ICE

peer.onicecandidate=(event)=>{


if(event.candidate){


socket.emit(
"camera_ice",
{

target:id,

candidate:event.candidate

}

);


}


};



peerConnections[id]=peer;


return peer;


}






// =====================================
// CREATION DE L'OFFRE
// =====================================


async function createOffer(userId){


const peer =
createPeerConnection(userId);



const offer =
await peer.createOffer();



await peer.setLocalDescription(
offer
);



socket.emit(
"camera_offer",
{

target:userId,

offer:offer

}

);



console.log(
"📡 Offre envoyée à",
userId
);


}





// =====================================
// NOUVEAU SPECTATEUR CONNECTE
// =====================================


socket.on(
"viewer_joined",
async(data)=>{


console.log(
"👀 Nouveau spectateur",
data.viewer_id
);



await createOffer(
data.viewer_id
);



viewerCount.innerHTML =
data.count;



});
    // =====================================
// RECEVOIR UNE OFFRE VIDEO
// =====================================


socket.on(
"camera_offer",
async(data)=>{


console.log(
"📩 Offre reçue de",
data.sender
);



const peer =
createPeerConnection(
data.sender
);



await peer.setRemoteDescription(

new RTCSessionDescription(
data.offer
)

);



// Ajouter les ICE reçus avant la connexion

await addPendingIce(
data.sender,
peer
);



const answer =
await peer.createAnswer();



await peer.setLocalDescription(
answer
);



socket.emit(
"camera_answer",
{

target:data.sender,

answer:answer

}

);



console.log(
"📤 Réponse envoyée à",
data.sender
);


});






// =====================================
// RECEVOIR UNE REPONSE
// =====================================


socket.on(
"camera_answer",
async(data)=>{


const peer =
peerConnections[data.sender];



if(!peer){

console.log(
"Connexion inconnue"
);

return;

}



await peer.setRemoteDescription(

new RTCSessionDescription(
data.answer
)

);



await addPendingIce(
data.sender,
peer
);



console.log(
"✅ Connexion vidéo établie"
);


});






// =====================================
// RECEVOIR ICE
// =====================================


socket.on(
"camera_ice",
async(data)=>{


let peer =
peerConnections[data.sender];



const candidate =
new RTCIceCandidate(
data.candidate
);



if(peer && peer.remoteDescription){


try{


await peer.addIceCandidate(
candidate
);


}catch(error){


console.log(
"Erreur ICE",
error
);


}



}else{


if(!pendingIce[data.sender]){

pendingIce[data.sender]=[];

}



pendingIce[data.sender].push(
candidate
);


}



});







// =====================================
// AJOUTER LES ICE EN ATTENTE
// =====================================


async function addPendingIce(
id,
peer
){


if(!pendingIce[id]){

return;

}



while(
pendingIce[id].length > 0
){


const candidate =
pendingIce[id].shift();



try{


await peer.addIceCandidate(
candidate
);


}catch(error){


console.log(error);


}


}



    }
    // =====================================
// DEMARRER LA CAMERA LIVE
// =====================================


document.getElementById("startBtn").onclick =
async()=>{


try{


stream =
await navigator.mediaDevices.getUserMedia({

video:{

width:1280,

height:720,

facingMode:currentCamera

},

audio:true

});



video.srcObject =
stream;


await video.play();



const response =
await fetch(
"/start-camera-live",
{

method:"POST"

}

);



const data =
await response.json();



if(data.success){


room =
"camera_live_"+data.live_id;



socket.emit(
"join_camera",
{

room:room,

creator:true

}

);



liveStatus.innerHTML =
"🔴 EN DIRECT";


message.innerHTML =
"✅ Live démarré";


}else{


message.innerHTML =
"❌ Erreur démarrage";


}



}catch(error){


console.log(error);


message.innerHTML =
"❌ "+error.message;


}


};








// =====================================
// ARRETER LE LIVE
// =====================================


document.getElementById("stopBtn").onclick =
()=>{


if(stream){


stream.getTracks()
.forEach(track=>{

track.stop();

});


stream=null;


}



Object.values(peerConnections)
.forEach(peer=>{

peer.close();

});



peerConnections={};



if(room){


socket.emit(
"stop_camera",
{

room:room

}

);


}



video.srcObject=null;

remoteVideo.srcObject=null;


viewerCount.innerHTML="0";


liveStatus.innerHTML =
"⛔ Hors ligne";


message.innerHTML =
"Live arrêté";


};









// =====================================
// MICRO ON / OFF
// =====================================


document.getElementById("muteBtn").onclick =
()=>{


if(!stream)return;



const audio =
stream.getAudioTracks()[0];



if(audio){


audio.enabled =
!audio.enabled;



document.getElementById("muteBtn").innerHTML =

audio.enabled
?
"🎤 Micro"
:
"🔇 Micro";


}


};









// =====================================
// CAMERA ON / OFF
// =====================================


document.getElementById("cameraBtn").onclick =
()=>{


if(!stream)return;



const track =
stream.getVideoTracks()[0];



if(track){


track.enabled =
!track.enabled;



}


};









// =====================================
// CHANGER CAMERA AVANT / ARRIERE
// =====================================


document.getElementById("switchBtn").onclick =
async()=>{


currentCamera =
currentCamera==="user"
?
"environment"
:
"user";



const newStream =
await navigator.mediaDevices.getUserMedia({

video:{

facingMode:currentCamera

},

audio:true

});



const newVideo =
newStream.getVideoTracks()[0];



const newAudio =
newStream.getAudioTracks()[0];



video.srcObject =
newStream;



stream =
newStream;




Object.values(peerConnections)
.forEach(peer=>{


peer.getSenders()
.forEach(sender=>{


if(sender.track?.kind==="video"){


sender.replaceTrack(
newVideo
);


}


if(sender.track?.kind==="audio"){


sender.replaceTrack(
newAudio
);


}



});


});



};
    // =====================================
// CHAT LIVE
// =====================================


const chatMessages =
document.getElementById("chatMessages");


document.getElementById("sendChat").onclick =
()=>{


const input =
document.getElementById("chatText");



if(input.value.trim()===""){

return;

}



socket.emit(
"live_message",
{

room:room,

message:input.value

}

);



input.value="";


};





socket.on(
"live_message",
(data)=>{


const div =
document.createElement("div");


div.className =
"chat-item";


div.innerHTML =
"<b>"+
data.user+
"</b> : "+
data.message;



chatMessages.appendChild(div);



chatMessages.scrollTop =
chatMessages.scrollHeight;


});









// =====================================
// REACTIONS
// =====================================


document.querySelectorAll(
".reaction-btn"
)
.forEach(btn=>{


btn.onclick =
()=>{


socket.emit(
"live_reaction",
{

room:room,

emoji:btn.dataset.emoji

}

);


};


});






socket.on(
"live_reaction",
(data)=>{


const emoji =
document.createElement("div");



emoji.className =
"floating-emoji";



emoji.innerHTML =
data.emoji;



document
.getElementById("floatingReactions")
.appendChild(emoji);



setTimeout(
()=>{


emoji.remove();


},
3000
);



});









// =====================================
// PLEIN ECRAN
// =====================================


document.getElementById(
"fullscreenBtn"
)
.onclick =
()=>{


if(video.requestFullscreen){


video.requestFullscreen();


}


};









// =====================================
// RECONNEXION SOCKET
// =====================================


socket.on(
"connect",
()=>{


console.log(
"Socket connecté"
);



if(room){


socket.emit(
"join_camera",
{

room:room

}

);


}


});









// =====================================
// FERMETURE PAGE
// =====================================


window.addEventListener(
"beforeunload",
()=>{


if(stream){


stream.getTracks()
.forEach(track=>{


track.stop();


});


}



Object.values(peerConnections)
.forEach(peer=>{


peer.close();


});



});





console.log(
"🎥 MY TV LIVE WebRTC terminé"
);

</script>


{% endblock %}
