{% extends "base.html" %}

{% block title %}
Caméra Live - MY TV APP
{% endblock %}


{% block content %}

<section class="camera-live">


<h1>
🎥 Caméras en direct
</h1>



<div id="server-status">
🟡 Connexion au serveur...
</div>



<!-- LISTE DES LIVES -->

<section class="live-list">

<h2>
🔴 Lives en cours
</h2>


{% if cameras %}

{% for camera in cameras %}

<div class="camera-card">


<h3>
{{ camera.title }}
</h3>


<a class="watch-btn"
href="{{ url_for('main.watch_camera', live_id=camera.id) }}">

▶️ Regarder

</a>


</div>


{% endfor %}


{% else %}

<p>
Aucun live actuellement
</p>


{% endif %}


</section>





<hr>




<!-- MA CAMERA -->

<h2>
📷 Ma caméra
</h2>



<video

id="myCamera"

autoplay

playsinline

muted

class="live-video">

</video>



<br>



<button id="startBtn">

🔴 Démarrer le live

</button>



<button id="stopBtn">

⛔ Arrêter

</button>



<p id="status">

⏹ Aucun live

</p>






</section>





<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>



<script>


const socket = io();



const myVideo =
document.getElementById(
"myCamera"
);



const status =
document.getElementById(
"status"
);



const serverStatus =
document.getElementById(
"server-status"
);



let stream = null;

let peer = null;



const room =
"camera_live_{{session['user_id']}}";





// =====================
// CONNEXION SERVEUR
// =====================


socket.on(
"connect",
()=>{


serverStatus.innerHTML =
"🟢 Serveur connecté";


socket.emit(
"join_camera",
{
room:room
}
);


});




socket.on(
"disconnect",
()=>{


serverStatus.innerHTML =
"🔴 Serveur déconnecté";


});







// =====================
// CREER PEER
// =====================


function createPeer(){


peer =
new RTCPeerConnection({

iceServers:[

{
urls:
"stun:stun.l.google.com:19302"
}

]

});



if(stream){


stream.getTracks()
.forEach(track=>{


peer.addTrack(
track,
stream
);


});


}





peer.onicecandidate =
event=>{


if(event.candidate){


socket.emit(
"camera_ice",
{

room:room,

candidate:event.candidate

}

);


}


};



}









// =====================
// DEMARRER LIVE
// =====================


document
.getElementById("startBtn")
.onclick =
async()=>{


try{


stream =
await navigator.mediaDevices.getUserMedia({

video:true,

audio:true

});



myVideo.srcObject =
stream;



createPeer();



let offer =
await peer.createOffer();


await peer.setLocalDescription(
offer
);



socket.emit(
"camera_offer",
{

room:room,

offer:offer

}

);



await fetch(
"/start-camera-live",
{

method:"POST",

headers:{

"Content-Type":"application/json"

},

body:JSON.stringify({

room:room

})

}

);




status.innerHTML =
"🔴 Live en diffusion";



}

catch(error){


status.innerHTML =
"❌ Erreur caméra : "
+
error.message;


}



};









// =====================
// RECEVOIR REPONSE
// =====================


socket.on(
"camera_answer",
async data=>{


if(peer){


await peer.setRemoteDescription(

new RTCSessionDescription(
data.answer
)

);


}



});







// =====================
// ICE
// =====================


socket.on(
"camera_ice",
async data=>{


if(peer){


try{


await peer.addIceCandidate(
data.candidate
);


}

catch(e){

console.log(e);

}


}



});







// =====================
// ARRET
// =====================


document
.getElementById("stopBtn")
.onclick =
()=>{


if(stream){


stream.getTracks()
.forEach(
track=>track.stop()
);


}



if(peer){

peer.close();

peer=null;

}



socket.emit(
"stop_camera",
{
room:room
}
);



status.innerHTML =
"⛔ Live arrêté";



};





</script>



{% endblock %}
