{% extends "base.html" %}

{% block title %}
Direct - MY TV APP
{% endblock %}


{% block content %}


<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>


<section class="live-page">


<h1>
🟢 Direct TV
</h1>



{% for live in lives %}


<div class="live-card">


<div class="live-header">


{% if live.channel and live.channel.logo %}

<img
src="{{ live.channel.logo }}"
class="live-logo"
alt="{{ live.channel.name }}">

{% endif %}


<h2>

{% if live.channel %}

{{ live.channel.name }}

{% else %}

Chaîne inconnue

{% endif %}

</h2>


<span class="live-badge">
🔴 EN DIRECT
</span>


</div>





<div class="live-player">



{% if live.live_source == "url" %}


<video
controls
autoplay
playsinline
width="100%">


<source
src="{{ live.stream_url }}"
type="application/x-mpegURL">


Votre navigateur ne supporte pas ce flux.


</video>





{% elif live.live_source == "camera" %}



<video

id="remoteVideo-{{ live.id }}"

autoplay

playsinline

controls

width="100%">

</video>



<p id="liveStatus-{{ live.id }}">

🟡 Connexion caméra...

</p>





<script>


(function(){


const socket = io({

    reconnection:true

});



const video =
document.getElementById(
"remoteVideo-{{ live.id }}"
);



const status =
document.getElementById(
"liveStatus-{{ live.id }}"
);



const room =
"camera_live_{{ live.id }}";



let peer = null;

let creatorId = null;






function createPeer(){


peer =
new RTCPeerConnection({

iceServers:[

{

urls:
"stun:stun.l.google.com:19302"

}

]

});





peer.ontrack =
(event)=>{


console.log(
"🎥 Flux reçu"
);


if(event.streams[0]){


video.srcObject =
event.streams[0];


video.play();


status.innerHTML =
"🔴 Live caméra en direct";


}


};







peer.onicecandidate =
(event)=>{


if(
event.candidate &&
creatorId
){


socket.emit(

"camera_ice",

{

candidate:
event.candidate,

target:
creatorId

}

);


}


};


}







socket.on(
"connect",
()=>{


console.log(
"✅ Spectateur connecté"
);



socket.emit(

"join_camera",

{

room:
room,

creator:false

}

);



console.log(
"👀 Rejoint :",
room
);



});









socket.on(
"camera_offer",
async(data)=>{


console.log(
"📡 Offre reçue"
);



try{


creatorId =
data.sender;



if(!peer){

createPeer();

}




await peer.setRemoteDescription(

new RTCSessionDescription(
data.offer
)

);





const answer =
await peer.createAnswer();




await peer.setLocalDescription(
answer
);





socket.emit(

"camera_answer",

{

answer:answer,

target:creatorId

}

);



console.log(
"✅ Réponse envoyée"
);



}

catch(error){


console.log(error);


status.innerHTML =
"❌ Erreur WebRTC";


}



});









socket.on(
"camera_ice",
async(data)=>{


try{


if(peer){


await peer.addIceCandidate(

new RTCIceCandidate(
data.candidate
)

);


}


}

catch(error){

console.log(error);

}



});









socket.on(
"camera_stopped",
()=>{


status.innerHTML =
"⛔ Live terminé";


video.srcObject=null;



if(peer){

peer.close();

peer=null;

}



});






})();


</script>






{% else %}


<p>
⚠️ Flux indisponible.
</p>


{% endif %}



</div>







<h3>
{{ live.title }}
</h3>



<p>

Chaîne :

{% if live.channel %}

{{ live.channel.name }}

{% else %}

Inconnue

{% endif %}


</p>



</div>



{% else %}


<p>
Aucun direct disponible actuellement.
</p>


{% endfor %}



</section>



{% endblock %}
