{% extends "base.html" %}


{% block title %}
Connexion - MY TV APP
{% endblock %}



{% block content %}


<section class="auth-box">


    <h1>
        🔐 Connexion
    </h1>



    <form method="POST" action="{{ url_for('main.login') }}">



        <label>
            Nom d'utilisateur
        </label>


        <input
        type="text"
        name="username"
        maxlength="100"
        required>




        <label>
            Mot de passe
        </label>


        <input
        type="password"
        name="password"
        minlength="8"
        required>




        <button type="submit">
            Se connecter
        </button>


    </form>



    <p>
        Pas encore de compte ?

        <a href="{{ url_for('main.register') }}">
            Créer un compte
        </a>

    </p>



</section>


{% endblock %}
