{% extends "base.html" %}


{% block title %}
Importer une vidéo - MY TV APP
{% endblock %}



{% block content %}


<link 
rel="stylesheet" 
href="https://releases.transloadit.com/uppy/v3.3.1/uppy.min.css">


<section class="form-page">


<h1>
🎬 Importer une vidéo PRO
</h1>



<form
id="uploadForm"
method="POST"
action="{{ url_for('main.upload_video') }}"
enctype="multipart/form-data">



<label>
Chaîne
</label>


<select name="channel_id" required>

{% for channel in channels %}

<option value="{{ channel.id }}">
{{ channel.name }}
</option>

{% endfor %}

</select>




<label>
Titre
</label>


<input
type="text"
name="title"
maxlength="200"
placeholder="Titre de la vidéo"
required>





<label>
Type de contenu
</label>


<select name="content_type">

<option value="film">
🎬 Film
</option>


<option value="serie">
📺 Série
</option>


<option value="journal">
📰 Journal
</option>


<option value="emission">
🎤 Émission
</option>


<option value="clip">
🎵 Clip
</option>


</select>





<label>
Catégorie
</label>


<input
type="text"
name="category"
placeholder="Action, sport, musique...">





<label>
Description
</label>


<textarea
name="description"
placeholder="Description de la vidéo">
</textarea>





<!-- ==========================
UPLOAD VIDEO PRO
========================== -->


<label>
🎬 Vidéo
</label>


<button 
type="button" 
id="select-video">

📁 Choisir une vidéo

</button>



<div id="drag-drop-area"></div>



<input
type="hidden"
name="video_url"
id="video_url">



<p id="upload_status">
Aucune vidéo sélectionnée
</p>





<!-- ==========================
MINIATURE
========================== -->


<label>
🖼️ Miniature
</label>


<input
type="file"
name="thumbnail"
accept="image/*">





<br>



<button
type="submit"
id="submit_btn"
disabled>

🚀 Publier la vidéo

</button>



</form>


</section>






<script src="https://releases.transloadit.com/uppy/v3.3.1/uppy.min.js"></script>



<script>


const uploadStatus =
document.getElementById(
"upload_status"
);



const videoUrl =
document.getElementById(
"video_url"
);



const submitBtn =
document.getElementById(
"submit_btn"
);




// ==========================
// CREATION UPPY
// ==========================


const uppy = new Uppy.Core({

    restrictions:{

        maxFileSize:5000000000,

        allowedFileTypes:[
            "video/*"
        ]

    },

    autoProceed:false

});





// ==========================
// INTERFACE UPLOAD
// ==========================


uppy.use(
Uppy.Dashboard,
{

    inline:true,

    target:"#drag-drop-area",

    note:
    "Choisir une vidéo ou glisser-déposer (5GB maximum)",

    showProgressDetails:true,

    proudlyDisplayPoweredByUppy:false

}
);




// ==========================
// BOUTON CHOISIR VIDEO
// ==========================

document
.getElementById("select-video")
.addEventListener(
"click",
function(){

    const dashboard =
    uppy.getPlugin("Dashboard");


    if(dashboard){

        dashboard.openFileDialog();

    }

});






// ==========================
// CLOUDINARY
// ==========================


uppy.use(
Uppy.XHRUpload,
{


endpoint:

"https://api.cloudinary.com/v1_1/kvua1rmc/video/upload",


fieldName:"file",


formData:true


}
);






// ==========================
// PRESET CLOUDINARY
// ==========================


uppy.on(
"file-added",
(file)=>{


uppy.setMeta({

upload_preset:
"novatv_video"

});


uploadStatus.innerHTML =

"⏳ Vidéo prête pour l'envoi";


});






// ==========================
// FIN UPLOAD
// ==========================


uppy.on(
"complete",
(result)=>{


if(result.successful.length > 0){


const uploaded =
result.successful[0];



if(
uploaded.response &&
uploaded.response.body &&
uploaded.response.body.secure_url
){


videoUrl.value =

uploaded.response.body.secure_url;



uploadStatus.innerHTML =

"✅ Vidéo envoyée sur Cloudinary";



submitBtn.disabled = false;


}

else{


uploadStatus.innerHTML =

"❌ URL Cloudinary introuvable";


}



}


});






// ==========================
// PROTECTION FORMULAIRE
// ==========================


document
.getElementById("uploadForm")
.addEventListener(
"submit",
(e)=>{


if(!videoUrl.value){


e.preventDefault();


alert(
"Veuillez attendre la fin de l'upload vidéo"
);


}


});



</script>



{% endblock %}
