{% extends "base.html" %}


{% block title %}
Importer une vidéo - MY TV APP
{% endblock %}



{% block content %}


<section class="form-page">


<h1>
🎬 Importer une vidéo
</h1>



<form
id="uploadForm"
method="POST"
action="{{ url_for('main.upload_video') }}"
enctype="multipart/form-data">



<label>
Chaîne
</label>

<select name="channel_id" required>

{% for channel in channels %}

<option value="{{ channel.id }}">
{{ channel.name }}
</option>

{% endfor %}

</select>




<label>
Titre
</label>

<input
type="text"
name="title"
placeholder="Titre de la vidéo"
maxlength="200"
required>




<label>
Type de contenu
</label>

<select name="content_type">

<option value="film">
🎬 Film
</option>

<option value="serie">
📺 Série
</option>

<option value="journal">
📰 Journal
</option>

<option value="emission">
🎤 Émission
</option>

<option value="clip">
🎵 Clip
</option>

</select>




<label>
Catégorie
</label>

<input
type="text"
name="category"
placeholder="Action, sport, musique...">





<label>
Description
</label>

<textarea
name="description"
placeholder="Description"></textarea>





<label>
Vidéo
</label>

<input
type="file"
name="video"
id="video"
accept="video/*"
required>



<div class="upload-progress">

<progress
id="progressBar"
value="0"
max="100">
</progress>


<p id="upload_status">
Aucune vidéo sélectionnée
</p>

</div>





<label>
Miniature
</label>

<input
type="file"
name="thumbnail"
accept="image/*">





<button
type="submit"
id="submit_btn">

🚀 Importer la vidéo

</button>


</form>


</section>







<script>


const form =
document.getElementById("uploadForm");


const videoInput =
document.getElementById("video");


const progressBar =
document.getElementById("progressBar");


const status =
document.getElementById("upload_status");


const button =
document.getElementById("submit_btn");



form.addEventListener(
"submit",
function(e){


const file =
videoInput.files[0];


if(!file){

e.preventDefault();

alert(
"Sélectionnez une vidéo"
);

return;

}



button.disabled = true;


status.innerHTML =
"⏳ Envoi de la vidéo...";


});



videoInput.addEventListener(
"change",
function(){


const file =
videoInput.files[0];


if(file){


let size =
(file.size / 1024 / 1024)
.toFixed(2);



status.innerHTML =
"Vidéo sélectionnée : "
+
size
+
" Mo";


}



});



</script>



{% endblock %}
