{% extends "base.html" %}


{% block title %}
{{ video.title }} - MY TV APP
{% endblock %}



{% block content %}


<section class="player-page">



<!-- ==========================
     LECTEUR VIDEO PRO
========================== -->


<div class="video-player video-overlay" id="video-container">


<video
id="main-video"
autoplay
playsinline
poster="{{ video.thumbnail }}"
>


{% if video.file_path %}

<source
src="{{ video.file_path }}"
type="video/mp4"
>

{% endif %}


Votre navigateur ne supporte pas la vidéo.


</video>



<!-- ==========================
     CONTROLES VIDEO STYLE YOUTUBE
========================== -->


<div class="custom-video-controls">


<button
type="button"
id="play-btn">

▶️

</button>



<button
type="button"
id="mute-btn">

🔊

</button>



<input
type="range"
id="volume-control"
min="0"
max="1"
step="0.1"
value="1">



<button
type="button"
id="rotate-btn">

↻

</button>



<button
type="button"
id="fullscreen-btn">

⛶

</button>



</div>





<!-- ==========================
     ORIENTATION
========================== -->


<div class="orientation-buttons">


<button
type="button"
id="vertical-btn">

📱 Vertical

</button>



<button
type="button"
id="horizontal-btn">

🖥️ Horizontal

</button>


</div>





{% if video.channel %}


<div class="tv-watermark">


{% if video.channel.logo %}

<img
src="{{ video.channel.logo }}"
alt="{{ video.channel.name }}"
>

{% endif %}



<span>
{{ video.channel.name }}
</span>



</div>


{% endif %}



     </div>
     <!-- ==========================
     DETAILS VIDEO
========================== -->


<section class="video-details">



<h1>
{{ video.title }}
</h1>




{% if video.channel %}


<div class="watch-channel">


{% if video.channel.logo %}


<img
src="{{ video.channel.logo }}"
class="watch-channel-logo"
>


{% endif %}



<h3>
📺 {{ video.channel.name }}
</h3>



</div>


{% endif %}






<p>
{{ video.description }}
</p>







<div class="video-meta">


<span>
🎬 {{ video.category }}
</span>


<span>
⏱️ {{ video.duration }}
</span>


<span>
👁️ {{ video.views }} vues
</span>


</div>








<!-- ==========================
     ACTIONS
========================== -->


<div class="video-actions">



<form
action="{{ url_for('main.like_video', video_id=video.id) }}"
method="POST"
>


<button class="btn-action">

❤️ J'aime

</button>


</form>







{% if session.get("user_id") %}


<a
href="{{ url_for('main.add_favorite', video_id=video.id) }}"
class="btn-action">

➕ Ma liste

</a>


{% else %}


<a
href="{{ url_for('main.login') }}"
class="btn-action">

➕ Ma liste

</a>


{% endif %}





</div>


</section>









<!-- ==========================
     VIDEOS SIMILAIRES
========================== -->


<section class="related">


<h2>
🎬 Autres vidéos
</h2>





<div class="netflix-grid">



{% for item in related_videos %}




<div class="netflix-card">



<a href="{{ url_for('main.watch', video_id=item.id) }}">





{% if item.thumbnail %}


<img
src="{{ item.thumbnail }}"
alt="{{ item.title }}"
>


{% else %}


<div class="no-image">
🎬
</div>


{% endif %}






<div class="card-info">


<h3>
{{ item.title }}
</h3>


<p>
{{ item.category }}
</p>


<span>
❤️ {{ item.likes }}
</span>


<span>
👁️ {{ item.views }}
</span>


</div>





</a>


</div>




{% else %}


<p>
Aucune autre vidéo.
</p>


{% endfor %}





</div>


</section>






<!-- ==========================
     JAVASCRIPT VIDEO
========================== -->


<script>


const video =
document.getElementById(
"main-video"
);


const container =
document.getElementById(
"video-container"
);



const playBtn =
document.getElementById(
"play-btn"
);



const muteBtn =
document.getElementById(
"mute-btn"
);



const volume =
document.getElementById(
"volume-control"
);




// PLAY / PAUSE

playBtn.onclick = function(){


if(video.paused){


video.play();


playBtn.innerHTML="⏸️";


}

else{


video.pause();


playBtn.innerHTML="▶️";


}


};




// SON

muteBtn.onclick=function(){


video.muted =
!video.muted;


muteBtn.innerHTML =
video.muted ? "🔇" : "🔊";


};




// VOLUME

volume.oninput=function(){


video.volume =
volume.value;


};




// PLEIN ECRAN

document
.getElementById("fullscreen-btn")
.onclick=function(){


if(container.requestFullscreen){


container.requestFullscreen();


}


};




// ROTATION

document
.getElementById("rotate-btn")
.onclick=function(){


container.classList.toggle(
"rotate-video"
);


};




// MODE VERTICAL

document
.getElementById("vertical-btn")
.onclick=function(){


container.classList.remove(
"horizontal-video"
);


container.classList.add(
"vertical-video"
);


};




// MODE HORIZONTAL

document
.getElementById("horizontal-btn")
.onclick=function(){


container.classList.remove(
"vertical-video"
);


container.classList.add(
"horizontal-video"
);


};


</script>



{% endblock %}
