{% extends "base.html" %}

{% block title %}
Regarder live - MY TV APP
{% endblock %}


{% block content %}

<section class="watch-camera">

<h1>🔴 {{ live.title }}</h1>

<div class="live-player">

<video
id="liveVideo"
autoplay
playsinline
controls
width="100%">
</video>

<button id="fullscreenBtn">
⛶ Plein écran
</button>

</div>

<p id="status">
🟡 Connexion au live...
</p>

</section>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

<script>

// ==========================
// SOCKET
// ==========================

const socket = io({
    reconnection: true,
    reconnectionAttempts: 20
});

const video = document.getElementById("liveVideo");
const status = document.getElementById("status");

const room = "camera_live_{{ live.id }}";

let peer = null;
let creatorId = null;
let pendingCandidates = [];



function createPeer(){

    peer = new RTCPeerConnection({

        iceServers:[
            {
                urls:"stun:stun.l.google.com:19302"
            }
        ]

    });


    peer.ontrack = (event)=>{

        if(event.streams[0]){

            video.srcObject = event.streams[0];

            video.play();

            status.innerHTML =
            "🔴 Live en cours";

        }

    };



    peer.onicecandidate = (event)=>{

        if(event.candidate && creatorId){

            socket.emit(
                "camera_ice",
                {
                    candidate:event.candidate,
                    target:creatorId
                }
            );

        }

    };

}




socket.on("connect",()=>{

    status.innerHTML="🟢 Connecté";

    socket.emit(
    "join_camera",
    {
        room: room,
        creator: false
    }
);

});





socket.on("camera_offer",async(data)=>{


    try{


        if(!peer){

            createPeer();

        }


        creatorId = data.sender;


        await peer.setRemoteDescription(
            new RTCSessionDescription(
                data.offer
            )
        );



        const answer =
        await peer.createAnswer();



        await peer.setLocalDescription(
            answer
        );



        socket.emit(
            "camera_answer",
            {
                answer:answer,
                target:creatorId
            }
        );



        for(let c of pendingCandidates){

            await peer.addIceCandidate(c);

        }

        pendingCandidates=[];



    }catch(e){

        console.log(e);

        status.innerHTML="❌ Erreur WebRTC";

    }


});






socket.on("camera_ice",async(data)=>{


    const candidate =
    new RTCIceCandidate(
        data.candidate
    );



    if(peer){

        await peer.addIceCandidate(
            candidate
        );

    }else{

        pendingCandidates.push(
            candidate
        );

    }


});






socket.on("camera_stopped",()=>{


    status.innerHTML =
    "⛔ Live terminé";


    video.srcObject=null;


    if(peer){

        peer.close();

        peer=null;

    }


});



document.getElementById("fullscreenBtn").onclick=()=>{

    if(video.requestFullscreen){

        video.requestFullscreen();

    }

};
{% endblock %}
